<h1>Password Reset Request</h1>

<p>Hello <%= @user.display_name %>,</p>

<p>An administrator has requested a password reset for your account on <%= @site_name %> CMS.</p>

<p>Click the link below to set a new password:</p>

<p><%= link_to "Reset Your Password", @setup_url %></p>

<p>This link will expire in 2 hours.</p>

<p>If you did not expect this email, please contact your administrator.</p>
