<% cache cache_key, expires_in: 1.hour do %>
  <% bullet_items = bullets %>
  <% if bullet_items.any? %>
    <% list_html = capture do %>
      <ul class="space-y-3">
        <% bullet_items.each do |bullet| %>
          <li class="flex items-start text-gray-700">
            <svg class="w-5 h-5 text-[#2563eb] mt-1 mr-3 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
            </svg>
            <span><%= bullet %></span>
          </li>
        <% end %>
      </ul>
    <% end %>

    <% if can_edit_cms? && field %>
      <%= content_tag(:div, list_html, class: 'cms-inline-field relative', data: data_attributes) %>
    <% else %>
      <%= list_html %>
    <% end %>
  <% end %>
<% end %>
